@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  background-color: black;
  overflow-x: hidden;
}

.head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  position: fixed;
  top: 0;
  background-color: rgb(0, 255, 221);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 7vh;
  padding: 10px;
  z-index: 3;
  width: 100%;
}

.zagolovok {
  padding: 4% 0;
}

.zagolovok h1 {
  font-size: 12vw;
  color: rgb(255, 213, 0);
  text-align: center;
}

.zagolovok h2 {
  font-size: 2vw;
  text-align: center;
  color: white;
  opacity: 0.8;
}

.slider-container {
  width: 100%;
  height: 123vh;
  overflow: hidden;
  position: relative;
}

.slider {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.slide {
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  border-radius: 15vw;
  padding: 1vw;
}

.slide.visible {
  opacity: 0.8;
}

.description-of-chamber {
  padding: 4% 0 0 0;
}

.description-of-chamber h1 {
  text-align: center;
  color: rgb(255, 213, 0);
  font-size: 6rem;
}

.description-of-chamber h2 {
  text-align: center;
  font-size: 1.6rem;
  opacity: 0.7;
  color: white;
  padding: 1vw;
}

.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}

.background-video {
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.4;
}

.yt,
.advices,
.feedback {
  text-align: center;
  font-size: 1.5rem;
  font-family: "Grechen Fuemen", cursive;
  font-weight: 600;
}

.initials {
  -webkit-box-flex: 6;
      -ms-flex-positive: 6;
          flex-grow: 6;
  text-align: center;
  font-size: 2.6rem;
  font-family: "Permanent Marker", serif;
}

.advices,
.feedback,
.head a {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.content {
  position: relative;
}

.ultimate-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 5% 2% 0% 2%;
  gap: 5vw;
  position: relative;
}

.container-for-ultimate {
  width: 100vw;
  height: 40vh;
  overflow: hidden;
  border-radius: 30px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
}

.container-for-ultimate:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-transition: -webkit-transform 0.1s ease-out;
  transition: -webkit-transform 0.1s ease-out;
  transition: transform 0.1s ease-out;
  transition: transform 0.1s ease-out, -webkit-transform 0.1s ease-out;
  cursor: pointer;
}

.ult-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.8;
  -webkit-transform: translateX(-150%);
          transform: translateX(-150%);
  -webkit-transition: -webkit-transform 1s ease-out;
  transition: -webkit-transform 1s ease-out;
  transition: transform 1s ease-out;
  transition: transform 1s ease-out, -webkit-transform 1s ease-out;
}

.description-of-ultimate {
  -webkit-transform: translateX(150%);
          transform: translateX(150%);
  -webkit-transition: -webkit-transform 1s ease-out;
  transition: -webkit-transform 1s ease-out;
  transition: transform 1s ease-out;
  transition: transform 1s ease-out, -webkit-transform 1s ease-out;
}

.description-of-ultimate h1 {
  font-size: 5rem;
  text-align: center;
  color: rgb(255, 213, 0);
}

.description-of-ultimate h2 {
  text-align: center;
  font-size: 1.6rem;
  max-width: 120vw;
  color: white;
  opacity: 0.7;
}

.video-ult {
  display: none;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0.8;
}

.headhunter-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 5% 2% 0% 2%;
  gap: 5vw;
}

.description-of-headhunter {
  -webkit-transform: translateX(-150%);
          transform: translateX(-150%);
  -webkit-transition: -webkit-transform 1s ease-out;
  transition: -webkit-transform 1s ease-out;
  transition: transform 1s ease-out;
  transition: transform 1s ease-out, -webkit-transform 1s ease-out;
}

.description-of-headhunter h1 {
  font-size: 5rem;
  text-align: center;
  color: rgb(255, 213, 0);
}

.description-of-headhunter h2 {
  text-align: center;
  font-size: 1.6rem;
  max-width: 120vw;
  color: white;
  opacity: 0.7;
}

.container-for-headhunter {
  width: 100vw;
  height: 40vh;
  overflow: hidden;
  border-radius: 30px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
  cursor: pointer;
}

.container-for-headhunter:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-transition: -webkit-transform 0.1s ease-out;
  transition: -webkit-transform 0.1s ease-out;
  transition: transform 0.1s ease-out;
  transition: transform 0.1s ease-out, -webkit-transform 0.1s ease-out;
}

.headhunter-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.8;
  -webkit-transform: translateX(150%);
          transform: translateX(150%);
  -webkit-transition: -webkit-transform 1s ease-out;
  transition: -webkit-transform 1s ease-out;
  transition: transform 1s ease-out;
  transition: transform 1s ease-out, -webkit-transform 1s ease-out;
}

.video-headhunt {
  display: none;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0.8;
}

.abilities-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  gap: 3vw;
  padding: 0 1vw;
  padding: 7% 2% 5% 2%;
}

.trap-image {
  text-align: center;
  background-color: rgb(27, 27, 41);
  opacity: 0.8;
  border-radius: 30px;
  height: 45vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateX(-150%);
          transform: translateX(-150%);
  -webkit-transition: -webkit-transform 1s ease-out;
  transition: -webkit-transform 1s ease-out;
  transition: transform 1s ease-out;
  transition: transform 1s ease-out, -webkit-transform 1s ease-out;
  cursor: pointer;
}

.trap-image:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-transition: -webkit-transform 0.1s ease-out;
  transition: -webkit-transform 0.1s ease-out;
  transition: transform 0.1s ease-out;
  transition: transform 0.1s ease-out, -webkit-transform 0.1s ease-out;
}

.trap-image img {
  width: 40%;
  opacity: 0.8;
}

.trap-description {
  -webkit-transform: translateX(-150%);
          transform: translateX(-150%);
  -webkit-transition: -webkit-transform 1s ease-out;
  transition: -webkit-transform 1s ease-out;
  transition: transform 1s ease-out;
  transition: transform 1s ease-out, -webkit-transform 1s ease-out;
}

.trap-description h1 {
  font-size: 5rem;
  text-align: center;
  color: rgb(255, 213, 0);
}

.trap-description h2 {
  text-align: center;
  font-size: 1.6rem;
  max-width: 120vw;
  color: white;
  opacity: 0.7;
}

.video-trap {
  display: none;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0.8;
  border-radius: 30px;
}

.teleport-description {
  -webkit-transform: translateX(150%);
          transform: translateX(150%);
  -webkit-transition: -webkit-transform 1s ease-out;
  transition: -webkit-transform 1s ease-out;
  transition: transform 1s ease-out;
  transition: transform 1s ease-out, -webkit-transform 1s ease-out;
}

.teleport-image {
  text-align: center;
  background-color: rgb(27, 27, 41);
  opacity: 0.8;
  border-radius: 30px;
  height: 45vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateX(150%);
          transform: translateX(150%);
  -webkit-transition: -webkit-transform 1s ease-out;
  transition: -webkit-transform 1s ease-out;
  transition: transform 1s ease-out;
  transition: transform 1s ease-out, -webkit-transform 1s ease-out;
  cursor: pointer;
}

.teleport-image:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-transition: -webkit-transform 0.1s ease-out;
  transition: -webkit-transform 0.1s ease-out;
  transition: transform 0.1s ease-out;
  transition: transform 0.1s ease-out, -webkit-transform 0.1s ease-out;
}

.teleport-image img {
  width: 40%;
  opacity: 0.8;
}

.teleport-description h1 {
  font-size: 5rem;
  text-align: center;
  color: rgb(255, 213, 0);
}

.teleport-description h2 {
  text-align: center;
  font-size: 1.6rem;
  max-width: 120vw;
  color: white;
  opacity: 0.7;
}

.tp-video {
  display: none;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0.8;
  border-radius: 30px;
}

.transl0 {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}

.transl1 {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: -webkit-transform 0.4s ease-out;
  transition: -webkit-transform 0.4s ease-out;
  transition: transform 0.4s ease-out;
  transition: transform 0.4s ease-out, -webkit-transform 0.4s ease-out;
}

.transl2 {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: -webkit-transform 0.6s ease-out;
  transition: -webkit-transform 0.6s ease-out;
  transition: transform 0.6s ease-out;
  transition: transform 0.6s ease-out, -webkit-transform 0.6s ease-out;
}

.teleport-state {
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
}